<% if(likes_count > 0) { %>
  <img alt="Heart" src="https://c790230.ssl.cf2.rackcdn.com/heart.png" />
  <a href="#" class="expand_likes">
    <%= Diaspora.I18n.t('stream.likes', {count: likes_count}) %>
  </a>
<% } %>
