.section
  .title
    Some Stats on the Diasp.org pod:
    %hr
    .content
    <a href="http://www.pingdom.com"><img src="https://share.pingdom.com/banners/01458c1b"  alt="Uptime for diasp.org: Last 30 days " title=" Uptime for diasp.org: Last 30 days" width="300" height="165" /></a>
    %hr
    If you do not want your data shared with newrelic, block *.newrelic.com and d1ros97qkrwjf5.cloudfront.net with adblock or ghostery
    %hr
    <iframe src="https://rpm.newrelic.com/public/charts/9osRcfaWKYM" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    %hr
    <iframe src="https://rpm.newrelic.com/public/charts/7KKSfnuPust" width="500" height="300" scrolling="no" frameborder="no"></iframe>


