#div
  Email Forwarding Rules:<br>
  1.This is temporary until Diaspora* has email support of some sort.<br>
  2.I have basic DNSBL filters on for spam, no virus checks.<br>
  3.If this gets abused or degrades the performance of the pod I will have to turn off.<br>
  4.Email is just a forward to your email you have registered, that can not be changed right now.<br>
  5.Takes 10 minutes for the system to update your request.<br>
  6.<br><br>
  =link_to ('Enable'), 'forwardemail/on', :class => "button"
  =link_to ('Disable'), 'forwardemail/off', :class => "button"


