<div id="news" style="width:500px"><div id="facebox_header"><h4>Pod Help</h4></div>
Some places for help with Diaspora*<br>
<a href="http://diaspora.shapado.com/" target="_new">http://diaspora.shapado.com/</a> Is a site designed for community help on non-official pods like this one<br>
<a href="http://getsatisfaction.com/diaspora" target="_new">http://getsatisfaction.com/diaspora</a> Is for the official pod, but you can use it to post and vote on ideas for the overall project<br>
<a href="http://www.diasporatest.com" target="_new">http://www.diasporatest.com</a>Is a great site of tips, its a wiki so you can edit if you find things to post<br>
<a href="http://www.diasporaforum.org" target="_new">http://www.diasporaforum.org</a>Is a forum about Diaspora*<br>
<a href="https://support.diasp.org" target="_new">https://support.diasp.org</a>Is the ticket system for the pod, I can help you with pod related things and my add-ons. boun.cc URL shortening, email forwarding, emails from pod not getting to destination etc.<br>
<a href="http://b.diasp.org" target="newfrompof">Pod Blog</a>has some site specific updates<br>


</div>
