<div id="facebox_header">
<h4>Status</h4>
</div>

<div id="news">
<script type="text/javascript">
(function() {
var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
s.type = 'text/javascript';
s.async = true;
s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
t.parentNode.insertBefore(s, t);
})();
</script>

I realize a lot of us hope to get away from Facebook, but while we are small and growing its a good way to communicate and find folks, please like us.<br>
<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdiasp.org&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
<br>

<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZRMJV7RY2Y9T2" target="newfrompof">Donations</a> Are critical to help the pod grow and survive. Flattr:<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="https://diasp.org"></a><br>
<a href="http://about.me/diasporg" target="newfrompof">About.me</a> for other sites pod is on, mostly just for testing with the pod.<br>

<br>
You are on a Diaspora* pod run by David Morley (davidmorley@diasp.org). This is Pre-Alpha so we will have lots of issues, have some fun!
<br><br>
Some Features I have added to this pod:<br>
<ul>

<li>Facebook Inviter - My version posts to their wall, Diaspora version sends a message with an invite code</li>
<li>EXIF data on photo's when you hover on them</li>
<li>Email forwarding from diasp.org to your email</li>
<li>URL shortening on posts if you use /// in your URL with my own shortner</li>
<li>Greasemonkey translate script <a href="http://userscripts.org/scripts/show/91276"  target="newfrompof">Here</a></li>
</ul>
</div>
