:javascript
  var user = "#{@user}"
  var key  = "#{AppConfig[:fbapiKey]}"
#aspect_edit_pane
#facebox_header
  <h4 id="fbname"></h4>
.contact_list
  <ul id="list"></ul><div id="fb-root"></div>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript">
  //window.onload=areyouin;
  setTimeout("login()", 30);
  setTimeout("backup()",20);
  function backup() {
  var divInfo = document.getElementById("list");
  divInfo.innerHTML = 'You are not logged into Facebook already. <a href="JavaScript:void(0)" onclick="javascript:login();">Login to Facebook</a><br>If you are having issues enable pop-ups for this site.';
  }
  function login() {
  FB.login(handleLogin);
  }
  function handleLogin(response) {
  if (!response.session) {
  alert('fail');return;
  }
  var divInfo = document.getElementById("list");
  divInfo.innerHTML = '<img src="/images/ajax-loader.gif">';
  FB.api("/me?fields=name", handleMe);
  FB.api("/me/friends?fields=name,id,picture&limit=200", handleFriends);
  }
  function handleMe(response) {
  var divInfo = document.getElementById("fbname");
  divInfo.innerHTML += 'Logged into Facebook as: ' + response.name;
  divInfo.innerHTML += '<div class="description">Facebook does not allow access to your friends email addresses via API. So this will post a note to their wall to join you.</div>';
  }
  function handleFriends(response) {
  var divInfo = document.getElementById("list");
  var friends = response.data;
  divInfo.innerHTML = '';
  for (var i = 0; i < friends.length; i++) {
  divInfo.innerHTML += '<li><img src="'+ friends[i].picture +'"><h4 class="name">' + friends[i].name + '</h4><div class="right"><a href="JavaScript:void(0)" onclick="javascript:publish('+friends[i].id+','+[i]+')" id="'+[i]+'" class="add button">Post</a></div></li>';
  }
  }
  function publish(friend_id,i){
  var buttonid = document.getElementById(i);
  var body = "Diaspora* is the social network that puts you in control of your information. You decide what you\'d like to share, and with whom. You retain full ownership of all your information, including friend lists, messages, photos, and profile details. Come join me on Diaspora* You can find me as "+user;
  FB.api(
  '/' + friend_id + '/feed',
  'post',
  { message: body, link: "#{AppConfig[:pod_url]}" },
  function(response) {
  if (!response || response.error) {
  buttonid.innerHTML = 'Failed';
  buttonid.setAttribute("class", "button added remove");
  buttonid.setAttribute("onclick", "");
  }
  else
  {
  buttonid.innerHTML = 'Posted';
  buttonid.setAttribute("class", "button added");
  buttonid.setAttribute("onclick", "");
  }
  }
  );
  return false;
  }
  FB.init({ apiKey: key });
  </script>

