#fbcontent
  :javascript
    var user = "#{@user}"
    var key  = "#{AppConfig[:fbapiKey]}"
  #aspect_edit_pane
  #facebox_header
    <h4 id="fbname"><div class="description" title="Facebook does not allow access to your friends email addresses via API. So this will post a note to their wall. The limit is 25, so if you max it out give it some time and try again. Sorry their TOC does not allow multi-friend posting. One at a time. Edit the general wall message below if you want to make it more personal. Send me feedback on this addon at davidmorley@diasp.org.">Hover For Info</div>
    </h4><span id="loading" style="position: absolute; right: 50%; top: 50%;"></span><span id="paging" style="color:#fff"></span>
  .contact_list
    <ul id="list"></ul><div id="fb-root"></div>
  #rename_aspect
    Wall message, will already link them back to the pod:
    <textarea id="fbmessage" style="width: 385px; height: 100px;">Diaspora* is the social network that puts you in control of your information. You decide what you'd like to share, and with whom. You retain full ownership of all your information, including friend lists, messages, photos, and profile details. Find me as: </textarea>
    <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
  :javascript
    setTimeout("login()", 230);
    setTimeout("backup()",90);
    var divList = document.getElementById("list");
    var divLoading = document.getElementById("loading");
    var divfbname = document.getElementById("fbname");
    var divPaging = document.getElementById("paging");
    function backup() {
    var divFBM = document.getElementById("fbmessage");
    divFBM.innerHTML += user;
    divList.innerHTML = 'You are not logged into Facebook already. <a href="JavaScript:void(0)" onclick="javascript:login();">Login to Facebook</a><br>If you are having issues enable pop-ups for this site.';
    }
    function login() {
    FB.init({apiKey: key });
    FB.login(handleLogin, {perms:'publish_stream'});
    }
    function paging(link) {
    FB.api(unescape(link).replace(/https:\/\/graph.facebook.com/g,''), handleFriends);
    }
    function handleLogin(response) {
    if (!response.session) {
    return;
    }
    var divLoading = document.getElementById("loading");
    divList.innerHTML = '';  
    divLoading.innerHTML = '<img src="/images/ajax-loader.gif">';
    FB.api("/me?fields=name", handleMe);
    FB.api("/me/friends?fields=name,id,picture&limit=250", handleFriends);
    }
    function handleMe(response) {
    divfbname.innerHTML += 'Logged into Facebook as: ' + response.name;
    }
    function handleFriends(response) {
    var friends = response.data;
    if (response.paging) {var morepaging  = response.paging.next} else {var morepaging  = ''};
    for (var i = 0; i < friends.length; i++) {
    divList.innerHTML += '<li><img src="'+ friends[i].picture +'"><h4 class="name">' + friends[i].name + '</h4><div class="right"><a href="JavaScript:void(0)" onclick="javascript:publish('+friends[i].id+','+[i]+')" id="'+[i]+'" class="add button">Post</a></div></li>';
    }
    var divPaging = document.getElementById("paging");
    var divLoading = document.getElementById("loading");
    if (morepaging) { setTimeout(paging, 1500,[morepaging]);}
    else {divPaging.innerHTML = ''}
    divLoading.innerHTML = '';
    $('ul#list img').click(function() {
    alert('o');
    $("img").attr('src', 'title');
    });
    }
    function publish(friend_id,i){
    var buttonid = document.getElementById(i);
    var body = document.getElementById("fbmessage").value;
    FB.api(
    '/' + friend_id + '/feed',
    'post',
    { message: body, link: "#{AppConfig[:pod_url]}?diasporainvite" },
    function(response) {
    if (!response || response.error) {
    buttonid.innerHTML = 'Failed';
    buttonid.setAttribute("class", "button added remove");
    buttonid.setAttribute("onclick", "");
    alert('Facebook API errored with:'+response.error.message); 
    }
    else
    {
    buttonid.innerHTML = 'Posted';
    buttonid.setAttribute("class", "button added");
    buttonid.setAttribute("onclick", "");
    }
    }
    );
    return false;
    }

