:javascript
  var user = "#{@user}"
  var key  = "#{AppConfig[:fbapiKey]}"
#aspect_edit_pane
#facebox_header
  <h4 id="fbname"><div class="description">Facebook does not allow access to your friends email addresses via API. So this will post a note to their wall.</div>
  </h4><span id="loading" style="position: absolute; right: 50%; top: 50%;"></span><span id="paging"></span>
.contact_list
  <ul id="list"></ul><div id="fb-root"></div>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript">
  setTimeout("login()", 230);
  setTimeout("backup()",90);
  var divList = document.getElementById("list");
  var divLoading = document.getElementById("loading");
  var divfbname = document.getElementById("fbname");
  var divPaging = document.getElementById("paging");
  function backup() {
  divList.innerHTML = 'You are not logged into Facebook already. <a href="JavaScript:void(0)" onclick="javascript:login();">Login to Facebook</a><br>If you are having issues enable pop-ups for this site.';
  }
  function login() {
  FB.init({apiKey: key });
  FB.login(handleLogin, {perms:'publish_stream'});
  }
  function paging(link) {
  var divLoading = document.getElementById("loading");
  divLoading.innerHTML = '<img src="/images/ajax-loader.gif">';
  FB.api(unescape(link).replace(/https:\/\/graph.facebook.com/g,''), handleFriends);
  }
  function handleLogin(response) {
  if (!response.session) {
  return;
  }
  var divLoading = document.getElementById("loading");
  divList.innerHTML = '';  
  divLoading.innerHTML = '<img src="/images/ajax-loader.gif">';
  FB.api("/me?fields=name", handleMe);
  FB.api("/me/friends?fields=name,id,picture&limit=250", handleFriends);
  }
  function handleMe(response) {
  divfbname.innerHTML += 'Logged into Facebook as: ' + response.name;
  }
  function handleFriends(response) {
  var friends = response.data;
  if (response.paging) {var paging  = response.paging.next};
  for (var i = 0; i < friends.length; i++) {
  divList.innerHTML += '<li><img src="'+ friends[i].picture +'"><h4 class="name">' + friends[i].name + '</h4><div class="right"><a href="JavaScript:void(0)" onclick="javascript:publish('+friends[i].id+','+[i]+')" id="'+[i]+'" class="add button">Post</a></div></li>';
  }
  var divPaging = document.getElementById("paging");
  var divLoading = document.getElementById("loading");
  if (paging) {divPaging.innerHTML = '<a href="JavaScript:void(0)" onclick="javascript:paging(\'' + paging + '\')">Get More Friends</a>'}
  else {divPaging.innerHTML = ''}
  divLoading.innerHTML = '';
  }
  function publish(friend_id,i){
  var buttonid = document.getElementById(i);
  var body = "Diaspora* is the social network that puts you in control of your information. You decide what you\'d like to share, and with whom. You retain full ownership of all your information, including friend lists, messages, photos, and profile details. Come join me on Diaspora* You can find me as "+user;
  FB.api(
  '/' + friend_id + '/feed',
  'post',
  { message: body, link: "#{AppConfig[:pod_url]}?diasporginvite" },
  function(response) {
  if (!response || response.error) {
  buttonid.innerHTML = 'Failed';
  buttonid.setAttribute("class", "button added remove");
  buttonid.setAttribute("onclick", "");
  }
  else
  {
  buttonid.innerHTML = 'Posted';
  buttonid.setAttribute("class", "button added");
  buttonid.setAttribute("onclick", "");
  }
  }
  );
  return false;
  }
  </script>

