#facebox_header
  <h4>Email Forwarding Rules:</h4>
#main
  1. This is temporary until Diaspora* has email support of some sort.<br>
  2. I have basic DNSBL filters on for spam, no virus checks.<br>
  3. If this gets abused or degrades the performance of the pod I will have to turn off.<br>
  4. Email is just a forward to your email you have registered, update that first if you want your forward to change!<br>
  5. Server updates every 15 min, wait to check your changes.<br>
  <br><br>
  <div id="buttons">
  <a href="JavaScript:void(0)" onclick="javascript:on();" id="on" class="button">Enable</a>
  <a href="JavaScript:void(0)" onclick="javascript:off();" id="off" class="button">Disable</a>
  </div>
  <div id="results" style="color:red;font-weight:bold;"></div>
:javascript
  function on(){
  $.get('/forwardemail/on', function(data) {
  $('#buttons').hide();
  $('#results').html(data);
  });
  }
  function off(){
  $.get('/forwardemail/off', function(data) {
  $('#buttons').hide();
  $('#results').html(data);
  });
  }

