.section
  .title
    Some Stats on the Diasp.org pod:
    %hr
    .content
    <script src="https://widgets.getclicky.com/flashy/?site_id=66500162&sitekey=136bec20bec36284c98c147e1147455c&w=400&h=300&date=last-28-days&type=visitors&title=&hide_y=0&hide_title=1&hide_branding=1" type="text/javascript"></script>
    %hr
    <script src="https://widgets.getclicky.com/tally/?site_id=66500162&sitekey=9ec9a9e918fa8e48552c1930b6286ead&width=175&height=250&title=&hide_title=1&hide_branding=1" type="text/javascript"></script>

