.section
  .container-fluid
    <h2>Thank you for your help! Without I would have to put ads on the site.</h2><br>
    <h3>Paypal Options:</h3>
    <hr><table border=0><tr><td>
    <b>Subscribing is prefered as it helps make sure we have money to keep going each month and plan for upgrades as needed</b><br>
    Paypal: <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4JJKQLR8MZMEG">
    <input type="hidden" name="on0" value="Options"><select name="os0">
    <option value="Mocha">Mocha : $3.00USD - monthly</option>
    <option value="Americano">Americano : $5.00USD - monthly</option>
    <option value="Box o' Joe">Box o' Joe : $20.00USD - monthly</option>
    <option value="Drip">Drip : $1.00USD - monthly</option>
    <option value="Caramel Machiato">Caramel Machiato : $10.00USD - monthly</option>
    <option value="Bag o' Beans">Bag o' Beans : $15.00USD - monthly</option>
    <option value="Drip Machine">Drip Machine : $10.00USD - yearly</option>
    <option value="Espresso Machine">Espresso Machine : $20.00USD - yearly</option>
    <option value="Bean Roaster">Bean Roaster : $50.00USD - yearly</option>
    <option value="Bean Factory">Bean Factory : $100.00USD - yearly</option>
    </select><input type="hidden" name="currency_code" value="USD"><br><input type="submit" value="Subscribe"></form>
    <br>Or set your own amount: <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZRMJV7RY2Y9T2">Paypal</a><br>
    
    %br
      <h3>Other Options:</h3><br><a href="https://flattr.com/thing/125882">Flattr</a><br>
      <a href="http://play.google.com/store/apps/details?id=appinventor.ai_david_morley.DiasporgDonate">Android App</a> (It's very basic, just a way to donate more than an app you use)<br>
      <a href="https://www.dwolla.com/u/812-532-9713?memo=diasp.org%20donation" target="_blank">Dwolla</a><br> 
      <a href="https://squareup.com/market/diaspora/diasp-org-donations">Square</a><br>
      Bitcoin: 1J8uBj8scLj554Wh32nc43683cGdZ9BtGV 
      <br><a href="https://www.coinbase.com/checkouts/82e81f96c89b615ae3543964113e8278" target="_blank">Coinbase Subscription</a><br>
      <br>Affiliate links that help the pod out (By no means as much as a direct donation):<br>
      <a href="https://airvpn.org/?referred_by=107706">AirVPN</a><br><a href="http://www.cloudns.net/aff/id/55777/">CloudDNS</a><br>
      </td></tr></table>

