:javascript
  (function() {
  var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
  s.type = 'text/javascript';
  s.async = true;
  s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
  t.parentNode.insertBefore(s, t);
  })();

.section
  .title
    Thank you for supporting the diasp.org pod, this keeps us ad free and alive!
    <hr><table border=1><tr><td>
    <b>Subscribing is prefered as it helps make sure we money to keep going each month and plan for upgrades as needed</b>
    Paypal: <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4JJKQLR8MZMEG">
    <input type="hidden" name="on0" value="Options"><select name="os0">
    <option value="Mocha">Mocha : $3.00USD - monthly</option>
    <option value="Americano">Americano : $5.00USD - monthly</option>
    <option value="Box o' Joe">Box o' Joe : $20.00USD - monthly</option>
    <option value="Drip">Drip : $1.00USD - monthly</option>
    <option value="Caramel Machiato">Caramel Machiato : $10.00USD - monthly</option>
    <option value="Bag o' Beans">Bag o' Beans : $15.00USD - monthly</option>
    <option value="Drip Machine">Drip Machine : $10.00USD - yearly</option>
    <option value="Espresso Machine">Espresso Machine : $20.00USD - yearly</option>
    <option value="Bean Roaster">Bean Roaster : $50.00USD - yearly</option>
    <option value="Bean Factory">Bean Factory : $100.00USD - yearly</option>
    </select><input type="hidden" name="currency_code" value="USD"><input type="submit" value="Subscribe"></form>
    Amazon: <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post"><input type="hidden" name="immediateReturn" value="0" /> <input type="hidden" name="collectShippingAddress" value="0" /> <input type="hidden" name="signatureVersion" value="2" /> <input type="hidden" name="signatureMethod" value="HmacSHA256" /> <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" /> <input type="hidden" name="recurringFrequency" value="1 month" /> <input type="hidden" name="amount" value="USD 5" /> <input type="hidden" name="signature" value="QScdIPkyLYJnjQrzWVJhFv6SRWvLY1nr3+bclMHZTrY=" /> <input type="hidden" name="description" value="diasp.org server subscripton" /> <input type="hidden" name="amazonPaymentsAccountId" value="TFELMERRDHLY4I9KGUREG9URL13I2Z47FIZ859" /> <input type="hidden" name="returnUrl" value="http://b.diasp.org/donations/" /> <input type="hidden" name="processImmediate" value="0" /> <input type="hidden" name="cobrandingStyle" value="logo" />
    <input type="submit" value="$5 a month"></form>
    <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
    <input type="hidden" name="immediateReturn" value="1" >
    <input type="hidden" name="amount" value="USD 10" >
    <input type="hidden" name="collectShippingAddress" value="0" >
    <input type="hidden" name="signature" value="AHWGciI1luH1rZybLZtl0kAzHt5geogCC8cbjbwI+9o=" >
    <input type="hidden" name="signatureVersion" value="2" >
    <input type="hidden" name="signatureMethod" value="HmacSHA256" >
    <input type="hidden" name="description" value="diasp.org server subscripton" >
    <input type="hidden" name="amazonPaymentsAccountId" value="TFELMERRDHLY4I9KGUREG9URL13I2Z47FIZ859" >
    <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
    <input type="hidden" name="cobrandingStyle" value="logo" >
    <input type="hidden" name="processImmediate" value="0" >
    <input type="hidden" name="recurringFrequency" value="1 month" >
    <input type="submit" value="$10 a month">
    </form>
    <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
    <input type="hidden" name="immediateReturn" value="1" >
    <input type="hidden" name="amount" value="USD 20" >
    <input type="hidden" name="collectShippingAddress" value="0" >
    <input type="hidden" name="signature" value="Y7DBovgKmJG9O4iOyAnVtliAEKotSzQ36tDicpD2crY=" >
    <input type="hidden" name="signatureVersion" value="2" >
    <input type="hidden" name="signatureMethod" value="HmacSHA256" >
    <input type="hidden" name="description" value="diasp.org server" >
    <input type="hidden" name="amazonPaymentsAccountId" value="TFELMERRDHLY4I9KGUREG9URL13I2Z47FIZ859" >
    <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
    <input type="hidden" name="cobrandingStyle" value="logo" >
    <input type="hidden" name="processImmediate" value="0" >
    <input type="hidden" name="recurringFrequency" value="1 month" > 
    <input type="submit" value="$20 a month">
    </form>
    </td><td width="2px"><b>or</b></td><td>
    <b>Make a one time donation (flattr and dwolla let you set up a subscription if you like)</b>
    %br
      <a class="FlattrButton" href="https://diasp.org"></a>      
      <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post"><input type="hidden" name="immediateReturn" value="0" /> <input type="hidden" name="collectShippingAddress" value="0" /> <input type="hidden" name="signatureVersion" value="2" /> <input type="hidden" name="signatureMethod" value="HmacSHA256" /> <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" /> <input type="hidden" name="referenceId" value="pod username" /> <input type="hidden" name="amount" value="USD 5" /> <input type="hidden" name="signature" value="3FUmEMX031becnJQoi1uP4kcnj/VGwRbAVmfHt6HX/0=" /> <input type="hidden" name="isDonationWidget" value="0" /> <input type="hidden" name="description" value="diasp.org server" /> <input type="hidden" name="amazonPaymentsAccountId" value="TFELMERRDHLY4I9KGUREG9URL13I2Z47FIZ859" /> <input type="hidden" name="returnUrl" value="http://b.diasp.org/donations/" /> <input type="hidden" name="processImmediate" value="1" /> <input type="hidden" name="cobrandingStyle" value="logo" /><input type=submit value="Amazon"></form>
      <form id="BB_BuyButtonForm" action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/854616287941082" method="post"><input type="hidden" name="item_name_1" value="Diasporg" /> <input type="hidden" name="item_description_1" value="$5 towards pod" /> <input type="hidden" name="item_quantity_1" value="1" /> <input type="hidden" name="item_price_1" value="5.0" /> <input type="hidden" name="item_currency_1" value="USD" /> <input type="hidden" name="_charset_" value="utf-8" /><input type=submit value="Google"></form>
      <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZRMJV7RY2Y9T2">Paypal</a> <a href="https://www.dwolla.com/u/812-532-9713?memo=diasp.org%20donation" target="_blank">Dwolla</a> <a target="_blank" href="https://www.wepay.com/donate/66744">Wepay</a> <a title="Diasporg Pod" href="http://utip.it/t/3838" target="_blank">utipit</a> 
    %br
      Bitcoin: 1J8uBj8scLj554Wh32nc43683cGdZ9BtGV
      </td></tr></table>

