.content
Diasporg costs over $1000USD to keep alive and running each year. For 2017 we are at $19. Please help out where you can, yes even $1 helps!
= link_to 'All Donation Options', "/supportyourpod"
#progressBar
  %div
