#login-container {
  background-image : url("/assets/highrespng.png");
  background-position : center 130px;
  background-repeat : no-repeat;
  background-size : 450px auto;
  height : 100%;
  opacity : 0.9;
  position : absolute;
  width : 100%
}
#login {
  position : relative;
  top : 0;
  left : 0;
  padding-top : 172px;
  min-width : 100%;
  opacity : 0.6;
  //color : #fff;
  text-align : center;

  input[type=text],
  input[type=password] {
    width : 120px;
  }

  #huge-text {
    font-family : Roboto;
    font-size : 13px;
    color : #000;
    background: #fff;
    text-shadow : 0 1px 0 #fff;
  }

  #forgot_password_link {
    margin : 40px;
    clear : all;
  }
}
