#progressBar {
  width: 710px;
  height: 14px;
  border: 1px solid #111;
}
#progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 14px;
  width: 0;
  background-color: #009300;
}
.stream_container {
  .stream-title {
    margin: 12px 0;
  }
}

.main-stream-publisher {
  margin-top: 20px;
  padding: 0;

  .avatar {
    height: 50px;
    width: 50px;
  }

  .publisher {
    margin-left: 65px;
  }
}

@media(max-width: $screen-xs-max) {

  .main-stream-publisher .publisher {
    margin-left: 0;
  }
}
