<div id="framer">
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
                <div class="row">
                    <div class="flow-controls">
                        <div class="controls"/>
                    </div>
                    <div class="flow-content"/>
                </div>
            </div>
        </div>
    </div>
</div>

